body {
    background-image: url(./assets/StoneOceanBackground.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.menu {
    display: flex;
    background-image: url(./assets/StoneOceanBackground.png);
    background-attachment: fixed;
    width: 100%;
    height: 12vh;
    justify-content: center;
    box-shadow: 0px 5px 5px rgb(43, 43, 43);
    position: fixed;
    align-items: center;
    background-repeat: no-repeat;
    z-index: 2;
}
.menu ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.option:hover {
    background-color: aqua;
}

.option:hover a {
    color: aliceblue;
    transition: 0.2s;
    font-size: 18px;
}

li {
    background-color: aquamarine;
    padding: 15px;
}

.butterfly {
    background: none;
    font-size: 28px;
}

.butterfly:hover {
    background-color: none;
    font-size: 36px;
    transition: 0.2s;
}

#ckeckbtn {
    display: none;
    font-size: 50px;
    line-height: 30px;
    position: absolute;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(127, 255, 212);
    background-color: rgba(0, 0, 0, 0.185);
}

#check {
    display: none;
}

.homecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20vh;
}

.logo {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.introducción {
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    white-space: pre-wrap;
}

.buttonStart {
    padding: 3.5vh;
    font-size: 15px;
    border-radius: 9px;
    background-color: rgb(176, 255, 49);
    cursor: pointer;
}

.buttonStart a {
    color: rgb(30, 45, 255);
    font-weight: bold;
}

.buttonStart:hover a {
    color: rgb(0, 13, 190);
}

.buttonStart:hover {
    background-color: rgb(131, 190, 35);
    transition: 0.3s;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0vh 4vh;
    justify-content: center;
    background-color: #131313dc;
    padding: 3vh 3vh;
}
.logo img {
    width: 100%;
    filter: drop-shadow(10px 10px 10px black);
}

#contentItemsCarrusel {
    height: 380px;
    overflow: hidden;
    width: 45%;
    box-shadow: 0px 5px 5px rgb(43, 43, 43);
    margin: 0 4vh;
}

.itemCarrusel {
    height: 380px;
    position: relative;
}

.tarjetaCarrusel {
    background-color: aquamarine;
    height: 100%;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1 {
    background-image: url(./assets/Carrusel/imageCarrusel1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tarjetaCarrusel-2 {
    background-image: url(./assets/Carrusel/imageCarrusel2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tarjetaCarrusel-3 {
    background-image: url(./assets/Carrusel/imageCarrusel3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tarjetaCarrusel-4 {
    background-image: url(./assets/Carrusel/imageCarrusel4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tarjetaCarrusel-5 {
    background-image: url(./assets/Carrusel/imageCarrusel5.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#tarjetaCarrusel-6 {
    background-image: url(./assets/Carrusel/imageCarrusel6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

i {
    font-size: 50px;
    color: aliceblue;
}

p {
    display: none;
}

.line hr {
    background-color: #1db985c9;
    border: none;
    height: 12px;
    width: 100%;

}

.line {
    padding: 8vh 0;
}





.historia {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.historiaContainer {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: flex-start;
}
.historiaContainer img {
    width: 750px;
}

.imagenHistoriaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenHistoriaContainer article {
    font-size: 25px;
    color: aquamarine;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 2.5vh;
}

.textHistoryContainer {
    display: flex;
    max-height: 535px;
    max-width: 1000px;
    overflow-y: hidden;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.514);
}

.textHistoryContainer article {
    width: 95%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    padding: 2.5vh;
    filter: drop-shadow(10px 10px 10px black);
}

.elencoContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.optionsCharacters {
    display: flex;
    width: 95%;
    height: 675px;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgba(113, 236, 13, 0.267);
    overflow: hidden;
    overflow-y: scroll;
}

.optionsCharacters img {
    width:fit-content;
    height: 300px;
    margin: 3vh;
    background-color: rgb(255, 255, 255);
}

.optionsCharacters img:hover {
    box-shadow: 6px 5px 5px rgb(0, 0, 0);
    height: 310px;
    width: auto ;
    transition: 0.3s;
}


.titleElenco {
    text-align: center;
    font-size: 25px;
    color:aquamarine;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.651);
    width: 95%;
    padding: 3vh;
}

.allCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    height: 950px;
    background-color: rgba(0, 0, 0, 0.466);
    overflow: hidden;
    overflow-y: scroll;
    width: 95%;
    margin: 5vh 0vh;
    padding: 4vh 0vh;
}

.description1Container {
    display: flex;
    width: 100%;
    margin-top: 3vh;
    justify-content: center;
    height: 900px;

}

.description2Container {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    justify-content: center;
    height: 900px;
    margin-bottom: 50vh;


}



.description3Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;


}

.description4Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;
    margin-bottom: 1vh;
}

.description5Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;
    margin-bottom: 1vh;
}

.description6Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;
    margin-bottom: 5vh;
}

.description7Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;
    margin-bottom: 5vh;
}

.description8Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;
    margin-bottom: 25vh;
}

.description9Container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 900px;
    margin-bottom: 25vh;
}



.infoContainer {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 90%;
}

.characterImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 1vh;
}

.titleCharacter {
    text-align: center;
    font-size: 25px;
    color:aquamarine;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 3vh;
    white-space:nowrap;
    margin-bottom: 3vh;
}

.imageCharacter {
    width: fit-content;
}

.imageCharacter img {
    width: 300px;
}

.imageJotaro img {
    width: 520px;
}

.imageWhiteSnake img {
    width: 300px;
}

.imagenDescriptionCharacter {
    display: flex;
    width: 75%;
    overflow: hidden;
    justify-content: center;
    margin: 1vh 0vh;
}

.descriptionCharacterContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #f5f5f5;
    width: 55%;
}

.descriptionCharacter {
    width: 75%;
    text-align: left;
    background-color: #0000006c;
    font-size: 19px;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2vh 4vh;
}


.manga {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.mangaContainer {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: flex-start;
}
.mangaContainer img {
    width: 750px;
}

.imageMangaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenMangaContainer article {
    font-size: 25px;
    color: aquamarine;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 2.5vh;
}

.textMangaContainer {
    display: flex;
    max-height: 535px;
    max-width: 1000px;
    overflow-y: hidden;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.514);
}

.textMangaContainer article {
    width: 95%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    padding: 2.5vh;
    filter: drop-shadow(10px 10px 10px black);
}


.textMangaContainer a {
    color:aquamarine;
}

.textMangaContainer a:hover {
    color:rgb(85, 168, 141);
    

}

.anime {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.animeContainer {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: flex-start;
}

.imageAnimeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenAnimeContainer article {
    font-size: 25px;
    color: aquamarine;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 2.5vh;
}

.DescriptionAndTrailers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textAnimeContainer {
    display: flex;
    max-height: 535px;
    max-width: 1000px;
    overflow-y: hidden;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.514);
}

.textAnimeContainer article {
    width: 95%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    padding: 2.5vh;
    filter: drop-shadow(10px 10px 10px black);
}


.textAnimeContainer a {
    color:aquamarine;
}

.textAnimeContainer a:hover {
    color:rgb(85, 168, 141);
    

}

.trailers {
    display: flex;
    flex-direction: column;
    background-color: #0000005b;
    width: fit-content;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1.5vh;
}

iframe {
    margin: 3vh 5.5vh;
}






@media screen and (max-width: 750px) {
    .homecontainer {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        align-items: center;
    }
    .introducción {
        margin-top: 30vh;
        font-size: 18px;
        white-space: normal;
        width: 450px;
    }
    .introducción article {
        width: 95%;
    }
    .menu {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        padding: 0 0.5vh;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        white-space: nowrap;
        text-align: right;
        width: fit-content;
        margin: max-content;
        margin-top: 385px;
    }
    .butterfly {
        background-color: aquamarine;
    }

    .logo {
        flex-direction: column;
        justify-content: center;
    }
    .menu ul {
        display: none;
    }
    #ckeckbtn {
        display: block;
    }

    #check:checked ~ ul {
        display: block;
    }
    .tarjetaCarrusel {
        width: 100%;
    }
    #contentItemsCarrusel {
        width: 95%;
        margin-top: 1vh;
    }

    .logoContainer {
        width: 95%;
        margin-top: 9.5vh;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: -25vh;
        z-index: 1;
    }

    .logo img {
        width:90%;
        filter: drop-shadow(10px 10px 10px black);
    }

    .buttonStart {
        margin-top: 4vh;
        padding: 3vh;
        font-size: 13.5px;
    }

    .historia {
        width: 100%;
    }

    .historiaContainer {
        display: flex;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
    }

    .historiaContainer img {
        width: 100%;
    }

    .imagenHistoriaContainer {
            width: 100%;
            overflow: hidden;
    }

    .imagenHistoriaContainer article {
        font-size: 19px;
    }

    .imagenHistoriaContainer img {
        width: 700px;
    }
    .textHistoryContainer {
        background-color: rgba(0, 0, 0, 0.541);
        display: flex;
        height: 350px;
        width: 100%;
        overflow-y: hidden;
        justify-content: center;
        overflow-y: scroll;
    }
    

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .descriptionCharacterContainer {
        width: 95%;
    }
    .imagenDescriptionCharacter {
        width: 100%;
    }
    .descriptionCharacter {
        width: 100%;
    }
    
    .description2Container {
        margin-top: 105vh;
    }
    .description3Container {
        margin-top: 5vh;
    }
    .description4Container {
        margin-top: 75vh;
    }
    .description5Container {
        margin-top: 5vh;
    }
    .description6Container {
        margin-top: 95vh;
    }
    .description7Container {
        margin-top: 5vh;
    }
    .description8Container {
        margin-top: 85vh;
    }
    .description9Container {
        margin-top: 5vh;
    }

    
    .manga {
        width: 100%;
    }
    .mangaContainer {
        display: flex;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
    }

    .mangaContainer img {
        width: 100%;
    }

    .imagenMangaContainer {
            width: 100%;
            overflow: hidden;
    }

    .imagenMangaContainer article {
        font-size: 19px;
    }

    .imagenMangaContainer img {
        width: 700px;
    }

    .textMangaContainer {
        background-color: rgba(0, 0, 0, 0.541);
        display: flex;
        height: 350px;
        width: 100%;
        overflow-y: hidden;
        justify-content: center;
        overflow-y: scroll;
    }

    .anime {
        width: 100%;
    }
    .animeContainer {
        display: flex;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
    }

    .animeContainer img {
        width: 100%;
    }

    .imagenAnimeContainer {
            width: 100%;
            overflow: hidden;
    }

    .imagenAnimeContainer article {
        font-size: 19px;
    }

    .DescriptionAndTrailers {
        width: 100%;
    }

    .trailers {
        width: 100%;
        align-items: center;
        margin: 1vh 0;
        padding: 0;
    }

    .trailer_1 {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .trailer_1 iframe {
        width: 100%;
        align-items: center;
    }

    .trailer_2 {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .trailer_2 iframe {
        width: 100%;
        align-items: center;
    }

    .trailer_3 {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .trailer_3 iframe {
        width: 100%;
        align-items: center;
    }

    iframe {
        margin: 1vh 0vh;
    }

    .textAnimeContainer {
        background-color: rgba(0, 0, 0, 0.541);
        display: flex;
        height: 350px;
        width: 100%;
        overflow-y: hidden;
        justify-content: center;
        overflow-y: scroll;
    }






}



::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00eeff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(167, 100%, 38%);
}
